<table>
  <thead class="font-medium">
    <td class="p-2">Nome Fantasia</td>
    <td>Local de Origem</td>
  </thead>
  <tbody>
    <% publishers.map(publisher =>{ %>
    <tr class="hover:bg-white/10" tabindex="1">
      <td class="p-2"><%= publisher.fantasyName%></td>
      <td class="opacity-50"><%= publisher.originPlace %></td>
      <td>
        <div class="flex-row w-fit">
          <a
            href="/editoras?id=<%=publisher.id%>"
            class="hover:bg-blue-500 p-2 px-4 md:px-6 rounded-lg"
          >
            <span class="material-symbols-outlined">edit</span>
          </a>
          <form action="/publishers/<%=publisher.id%>/delete">
            <button class="hover:bg-red-500 p-2 px-4 md:px-6 rounded-lg">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </form>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
