<form class="gap-0.5 max-w-xl flex flex-row rounded-xl flex-wrap">
  <input
    required
    type="text"
    placeholder="Título"
    class="h-10 p-2 rounded grow"
  />
  <input
    required
    type="date"
    placeholder="Data de lançamento"
    class="h-10 p-2 rounded grow"
  />
  <button class="bg-green-600 p-2 h-10 rounded grow" type="submit">
    <span class="material-symbols-outlined">add</span>
    Adicionar
  </button>
</form>
