<form class="flex flex-row items-stretch max-w-xl" method="get">
  <input
    name="q"
    type="text"
    placeholder="Pesquisar"
    value="<%=q%>"
    class="p-2 rounded-lg grow"
  />
  <button class="p-2 h-10 rounded hover:bg-white/10 grow-0" type="submit">
    <span class="material-symbols-outlined">search</span>
  </button>
</form>
