<div class="bg-stone-700 flex-row pt-2">
  <%- include('topTab', { name:'Livros', iconName:'book',id:'book', selected ,
  path:'/livros'}); %> <%- include('topTab', { id:'publisher',selected,
  name:'Editoras', iconName:'corporate_fare', active:false, path:'/editoras'});
  %>
</div>
