<div class="bg-stone-700 flex-row pt-2">
  <%- include('topTab', {name:'Livros',iconName:'book', active:true,
  path:'/books'}); %> <%- include('topTab',
  {name:'Editoras',iconName:'corporate_fare', active:false,path:'/publishers'});
  %>
</div>
