<div class="bg-stone-700 flex-row pt-2">
  <%- include('topTab', { name:'Livros', iconName:'book', active:true,
  path:'/livros'}); %> <%- include('topTab',
  {name:'Editoras',iconName:'corporate_fare', active:false,path:'/editoras'});
  %>
</div>
